certifi==2020.12.5
cycler==0.10.0
Cython==0.29.21
dask==2.30.0
dataclasses==0.8
decorator==4.4.2
future==0.18.2
git+https://github.com/geoopt/geoopt.git@010f5bdf1d6cf217fb47a767e2d93e39369e4cb2
graphviz==0.15
joblib==0.17.0
kiwisolver==1.3.1
matplotlib==3.3.3
networkx==2.5
numpy==1.19.4
pandas==1.1.5
Pillow==8.0.1
pydot==1.4.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
scikit-allel==1.3.2
scikit-learn==0.23.2
scipy==1.5.4
seaborn==0.11.0
six==1.15.0
sklearn==0.0
threadpoolctl==2.1.0
toolz==0.11.1
torch==1.6.0
torchvision==0.7.0
tqdm==4.54.1
typing-extensions==3.7.4.3
virtualenv==15.1.0
